[data-cinnamon] { 
    position: relative; 
    display: inline-block; 
} 
.cinnamon { 
    z-index: -1; 
    position: absolute; 
    top: 0; left: 0; 
    display: inline-block; 
    height: 100%; 
    width: 100%; 
    color: rgba(0,0,0,0); 
    overflow: hidden; font-size: 999px; 
}
@media all and (device-width: 768px) and (device-height: 1024px) {
    .cinnamon { 
        z-index: 1; 
        opacity: 0.25; } 
}